body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.active{
  background-color: #e5e5e5;
  color: black;
}


.circle-loading {
  width: 40px;
  height: 40px;
  border-radius: 40px;
  position: relative;
  margin: 0 auto;
  --color: #6a5af9;
}
.circle-loading:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 5px solid transparent;
  border-right-color: var(--color);
  border-bottom-color: var(--color);
  animation: circleLoading 1s forwards infinite linear;
}
@keyframes circleLoading {
  to {
    transform: rotate(360deg);
  }
}